OUTPUT/TESTING/*
!OUTPUT/TESTING/MS181101ab/
OUTPUT/O4REAL/*
!OUTPUT/04REAL/S230518h/
PHONE_AND_EMAIL_LIST.TXT
*.pyc
python/*.pyc
__pycache__
DESGW_O4_People.TXT*
test*.json
des-gw*.json
test_hexes/mock_simulations/*
test_logs/
log_files/
configs/slack*.txt
test_hexes/MS*
*nora_needs*
utils/*.jpg
*desgw_db_writer/*
utils/*.png